/*-- scss:defaults --*/

// 1. Define or override Sass variables here (always start with $)
$navbar-bg: #881124;
$navbar-fg: #fafafa;
$navbar-hl: #fac0ca;
$font-family-base: "Helvetica Neue", Arial, sans-serif;
$font-size-root: 1.1em;